@model Project.Areas.Admin.ViewModels.EditRolesViewModel
@{
    ViewData["Title"] = $"Редактирование - {@Model.UserName}";
}

<h2 class="mb-5">Редактирование ролей для пользователя <strong>@Model.UserName</strong></h2>

<form class="edit-col" asp-action="UpdateRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    <div class="form-group">
        <h5 class="mb-3">Выберите новую роль:</h5>
        <div class="d-flex flex-column">
            @foreach (var role in Model.AllRoles)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="roleNames" value="@role"
                           @(Model.AssignedRoles.Contains(role) ? "checked" : "") id="role_@role">
                    <label class="form-check-label" for="role_@role">@role</label>
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary mb-3 mt-3">Обновить роли</button>
</form>

<a asp-action="Index" class="btn btn-outline-danger btn-sm ">Назад</a>
