@using Microsoft.AspNetCore.Identity
@using Project.Models
@model IEnumerable<User>

@{
    ViewData["Title"] = "Управление пользователями";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>

    <form method="get" action="@Url.Action("Index", "Admin")" class="mb-3">
        <div class="input-group">
            <input type="text" name="searchString" class="form-control" placeholder="Поиск по Email" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Роли</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @inject UserManager<User> UserManager
                        @{
                            var roles = await UserManager.GetRolesAsync(user);
                        }
                        @string.Join(", ", roles)
                    </td>
                    <td>
                        <a asp-action="EditRoles" asp-route-userId="@user.Id" class="btn btn-warning">Редактировать роли</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
