@model IEnumerable<Project.Areas.Admin.Models.Parser.Group>

@{
    ViewData["Title"] = "Список групп";
}

<h1>Список групп</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Номер группы</th>
            <th>Количество курсантов</th>
            <th>Специальность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Number</td>
                <td>@group.CadetsNumber</td>
                <td>@group.Speciality?.Title</td> <!-- Предположим, у вас есть свойство Name в Speciality -->
                <td>@group.SpecialityId</td> <!-- Добавлено для отладки -->
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Groups")" class="btn btn-primary">
    Создать
</a>

