@model IEnumerable<Project.Areas.Admin.Models.Parser.Group>

@{
    ViewData["Title"] = "Список групп";
}
<button onclick="history.back()" class="mb-3 mt-3 btn btn-outline-secondary btn-sm"><i class="fa-solid fa-arrow-left"></i> Назад</button>
<h1>Список групп</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Номер группы</th>
            <th>Количество курсантов</th>
            <th>Специальность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Number</td>
                <td>@group.CadetsNumber</td>
                <td>@group.Speciality?.Title</td> <!-- Предположим, у вас есть свойство Name в Speciality -->
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create", "Groups")" class="btn btn-outline-primary">
    Добавить новую группу
</a>

