@model Project.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Главная";
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дисциплины</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .main {
            display: flex;
            flex-direction: column;
            /* Вертикальная компоновка */
            align-items: flex-start;
            /* Выровнять по левому краю */
            margin-top: 20px;
            /* Отступ сверху */
        }

        .card {
            width: 100%;
            /* Ширина карточек */
            max-width: 500px;
            /* Максимальная ширина карточки */
            margin-bottom: 15px;
            /* Отступ между карточками */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            /* Легкая тень для глубины */
        }

        .card-body {
            padding: 10px;
            /* Уменьшение отступов внутри карточки */
        }

        .userInfo {
            padding: 10px 15px 10px 15px;
            margin-bottom: 15px;
            background-color: rgb(234, 234, 234);
            border: 2px black solid;
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <div class="container main">
        <div class="userInfo">
            <h2><strong>@Model.LastName @Model.Name @Model.FatherName</strong> - список изучаемых дисциплин</h2>
            <h6 class="subTitle">@Model.GroupNumber учебная группа, @Model.Speciality, @Model.KursNumber курс,
                @Model.SemesterNumber семестр</h2>
        </div>
        @foreach (var discipline in Model.Disciplines)
        {
            <div class="card card-item">
                <div class="card-body">
                    <h7 class="card-title">@discipline.Title</h7>
                </div>
            </div>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
